---
const today = new Date();
---

<footer>
	<div class="container mx-auto py-8 text-center text-sm text-gray-600">
		<p>&copy; {today.getFullYear()} Martin Jalaf. All rights reserved.</p>
		<p>
			Built with
			<a href="https://astro.build" class="text-blue-500 hover:underline">Astro</a>.
		</p>
	</div>
</footer>
